.banner {
  background-color: white;
  color: black;
  height: 5vh;
  padding: 2.5vh;
  margin-left: -10px;
  margin-right: -5px;
  margin-top: -10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
}

body {
  font-family: monospace;
  margin: 0px;
}

.centerhomescreen {
  height: 105vh;
  margin-left: -10px;
  margin-top: -10px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container{
  display: inline-block;
}

.typed-out{
  overflow: hidden;
  border-right: .15em solid rgb(75, 159, 255);
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: 
    typing 3s steps(20, end) forwards,
    blink .8s infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from { border-color: transparent }
  to { border-color: rgb(75, 159, 255); }
}

.homeImage {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.arrow {
  position: absolute;
  margin-top: 35%;
  width: 30px;
  height: 30px;
  transition: .5s;
  float: left;
  box-shadow: -4px 4px 0 rgb(255, 255, 255);
  transform: rotate(-45deg);
}

.blue {
  color: rgb(75, 159, 255);
}

.white {
  color: white;
}

.typed-out h2 {
  margin-left: 15px;
}

.header {
  font-size: 23px;
  font-family: "Montserrat Medium";
  font-weight: 1000;
  margin: 0px;
  padding: 20px;
}

.banner h2 {
  font-family: 'Montserrat Medium';
  font-weight: bolder;
  display: inline;
  margin: 20px;
  margin-top: 30px;
  font-size: smaller;
  
}

.white-section-container {
  background-color: #F8F8F8;
}

.side-by-side {
  display: flex;
  gap: 10px;
}

.left-side {
  margin-left: 0%;
}

p {
  font-size: 1.5em;
}

.right-side {
  padding-right: 30px;
}
